<section class="dr-contenido3" style="padding-top: 30px">
    <nav class="navbar navbar-light bg-white fixed-top">

        <a class="dr-atras" onclick="goBack()" data-toggle="modal" data-target="#menu"><i class="material-icons">arrow_back</i></a>

        <a class="navbar-brand detalles" href=""> Detalles Clientes</a>

        <div class="navbar-collapse collapse" id="navbarsExample01" style="">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-md-0">
                <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </form>
        </div>
    </nav>
    <article class="dr-dashcliente">
        <div class="container">
            <div class="header">
                <div class="row align-items-center">
                    <div class="col-6 p-0">
                        <div class="dr-fondopersona2">
                            {{#if model.user.picture}}
                                <img class="" src="{{model.user.picture}}" alt="">
                            {{else}}
                                <img class="" src="{{rootURL}}/assets/images/profile_pic.png" alt="">
                            {{/if}}
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="nombre">
                            <h4>{{model.user.first_name}}</h4>
                            <h5>{{model.user.last_name}}</h5>
                            <p>Tipo: {{model.profile.name}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dr-categoria">
                <h4>Categoria mas compradas</h4>
                <div class="row">
                    <div class="col-6">
                        <a class="btn-fragancias btn" href=""> Fragancias</a>
                    </div>
                    <div class="col-6">
                        <a class="btn-maquilla btn" href=""> Maquillaje</a>
                    </div>
                </div>
            </div>
            <div class="dr-tabs">
                <h4>Historial de ordenes</h4>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="row">
                    <div class="col-3" style="font-size: smaller">No Orden</div>
                    <div class="col-2" style="font-size: smaller">Fecha</div>
                    <div class="col-3" style="font-size: smaller">Valor</div>
                    <div class="col-4" style="font-size: smaller">Estado</div>
                    </div>
                    {{#each model.orders as |order|}}
                        <div class="item">
                            <div class="row">
                                <div class="col-3">
                                    <p>{{#link-to "order" order.id}}
                                    {{order.order_number}}
                                    {{/link-to}}</p>                                    
                                </div>
                                <div class="col-2">
                                    {{to-day-month order.date}}
                                </div>
                                <div class="col-3">
                                    <span>${{order.purchaseSum}}</span>
                                </div>
                                <div class="col-4">
                                    {{#if (eq order.status 3)}}
                                        <span class="badge badge-pill badge-success">Completada</span>
                                    {{else if (eq order.status 2)}}
                                        <span class="badge badge-pill badge-danger">Cancelada</span>
                                    {{else if (eq order.status 1)}}
                                        <span class="badge badge-pill badge-primary">Distribucion</span>
                                    {{else if (eq order.status 0)}}
                                        <span class="badge badge-pill badge-info">Ordenado</span>
                                    {{/if}}
                                </div>
                            </div>
                        </div>  
                    {{/each}}               
                </div>
            </div>
        </div>
    </article>
</section>







{{!-- <h1>{{model.user.first_name}} {{model.user.last_name}}</h1>
<img src="{{model.user.picture}}" height="50" width="50">
<p><img src="https://cdn4.iconfinder.com/data/icons/social-icons-6/40/cellphone-128.png" height="16" width="16"><a href="tel:{{model.user.cellphone}}">{{model.user.cellphone}}</a></p>

<br>
<h2>Ordenes:</h2>
<ul>
{{#each model.orders as |order|}}
<li>
    {{#link-to "order" order.id}}
    {{order.name}} - {{to-locale-string order.status}}
    {{/link-to}}
</li>
{{/each}}
</ul> --}}