<style>
    .carousel-indicators li {
        border-radius: 10px;
        width: 10px;
        height: 10px;
        background-color: #c2c2c2;
    }
    .carousel-indicators .active {
        background-color: #000000;
    }
    .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
    }
    .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
    }
    .landing {
        /* background-image: url({{rootURL}}assets/images/landing_background.jpg);*/
        background-repeat: no-repeat;
        background-position-x: left;
        background-size: cover;
        overflow: "hidden";
        height: 100%;
        display: flex;
        align-items: center;
        min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
        min-height: 100vh; /* These two lines are counted as one :-)       */

        display: flex;
        align-items: center;
        text-align: center;
    }
    .container {
        padding-right: 35px;
        padding-left: 35px;
        height: 60vh !important;
        vertical-align:middle;
        width:100%;
        align-items: center;
    }
    .button-container {
        padding-right: 35px;
        padding-left: 35px;
    }
    p.lead {
        text-align: center;
        font-size: 1.2rem;
        font-weight: bolder;
        padding-bottom: 20px;
    }
    .carousel.slide{
        height: 100%;
    }
    .img-fluid {
        height: 70%;
    }
</style>


<section class="landing">
    
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        
            <img style="padding-top:20px; height: 13%;" src="{{rootURL}}assets/images/logo_flower.png">
        
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">

            <div class="carousel-item active">
                {{!-- Screen info --}}
                <div class="container">
                    <p class="lead" style="padding-bottom:10px;">Con Descubre ganas más en menos tiempo</p>
                    <img class="img-fluid" src="{{rootURL}}assets/images/screen1.png">
                </div>
                {{!-- Screen info --}}
            </div>
            
            <div class="carousel-item">
                {{!-- Screen info --}}
                <div class="container">
                    <p class="lead" style="padding-bottom: 25px;">Enfocate en lo que te gusta, nos encargamos de lo demás</p>
                    <img class="img-fluid" src="{{rootURL}}assets/images/screen2.png">
                </div>
                {{!-- Screen info --}}
            </div>

            <div class="carousel-item">
                {{!-- Screen info --}}
                <div class="container">
                    <p class="lead">Vende los productos que ya conoces - de forma diferente</p>
                    <img class="img-fluid" src="{{rootURL}}assets/images/landing_celebridad.png">
                </div>
                {{!-- Screen info --}}
            </div>


        </div>
        
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

        <div class="button-container">

            {{#link-to 'signup' role="button" style="background-color:#2196f3; border-color:#2196f3;" class="btn btn-primary btn-block"}}
            Registrame ya!
            {{/link-to}}

            {{#link-to 'login' role="button" class="btn btn-outline-primary btn-block"}}
            Ya tengo uno
            {{/link-to}}

        </div>
    </div>



</section>


<script>
    $('.carousel').carousel({
        interval: 5000,
        wrap: false
    });
    $('.carousel').each(function () {
        var $carousel = $(this);
        var hammertime = new Hammer(this, {
            recognizers: [
                [Hammer.Swipe, { direction: Hammer.DIRECTION_HORIZONTAL }]
            ]
        });
        hammertime.on('swipeleft', function () {
            $carousel.carousel('next');
        });
        hammertime.on('swiperight', function () {
            $carousel.carousel('prev');
        });
    });
</script>