
<h1>{{model.order_number}}</h1>
<p>order date: {{to-locale-string model.date}}</p>

<h2>Client</h2>
  <p> 
    {{#link-to "client" model.client.id}}
    {{model.client.user.first_name}}, {{model.client.user.cellphone}}  
    {{/link-to}}
  </p>
<h2>Items in order</h2>
 <ul>
  {{#each model.products as |product|}}
  <li> 
    {{#link-to "product" product.id}}
    {{product.name}}, ${{product.price}}
    {{/link-to}}
  </li>
  {{/each}}
</ul>
