<h1>{{model.name}}</h1>
<img src={{model.image}} height="50" width="50">

<h2>Bought in orders</h2>

<ul>
	{{#each model.orders as |order|}}
		<li> 
			{{#link-to "order" order.id}}
        {{order.order_number}}, 
        {{to-locale-string order.status}},
        {{order.client.user.first_name}}  
			{{/link-to}}
		</li>
	{{/each}}
</ul>
