<section class="dr-contenidologros">
    <nav class="navbar navbar-light bg-white fixed-top">

        <!-- <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
        <a class="dr-menu" href="#" data-toggle="modal" data-target="#menu"><i class="material-icons">menu</i></a>

        <a class="navbar-brand" href="index.html"></a>


        <div class="navbar-collapse collapse" id="navbarsExample01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-md-0">
                <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </form>
        </div>
    </nav>
    <div class="dr-headerlogros">
        <div class="dr-persona">
            {{#if model.firstObject.user.picture}}
            <img src="{{model.firstObject.user.picture}}" alt="">
            {{else}}
            <img src="{{rootURL}}/assets/images/profile_pic.png" alt="">
            {{/if}}
            {{!-- <span class="dr-editar">Editar</span> --}}
            <h4>{{model.firstObject.user.first_name}} </h4>
            <p>{{model.firstObject.user.last_name}}</p>
            <p>Codigo {{model.firstObject.code}}</p>
        </div>

    </div>
    <div class="dr-ventas">
        <h2>${{sub model.firstObject.total model.firstObject.total_shipping}}</h2>
        <p>Ventas de este mes</p>
        <div class="dr-ganancias">
            <div class="row">
                <div class="col-6 text-center">
                    <h6>
                        ${{round (mult (sub model.firstObject.total model.firstObject.total_shipping model.firstObject.total_tax) model.firstObject.commission)}}
                    </h6>
                    <span>Ganacias del mes</span>
                </div>
                <div class="col-6 text-center">
                    <h6>
                        🚀
                    </h6>
                    <span>Ventas mes anterior</span>
                </div>
            </div>
        </div>
        <div class="dr-listitems">
            <ul>
                <li>
                    {{#link-to 'tasks'}}
                        <div class="row align-items-center">
                            <div class="col-2"><i class="material-icons">assignment</i></div>
                            <div class="col-6">Mis Tareas</div>
                            <div class="col-2">
                                <span>
                                    {{model.firstObject.tasksUncompleted.length}}
                                </span>
                            </div>
                            <div class="col-2"><i class="material-icons">
                                    keyboard_arrow_right
                                </i></div>
                        </div>
                    {{/link-to}}
                </li>
                <li>
                    {{#link-to 'orders'}}
                        <div class="row align-items-center">
                            <div class="col-2"><i class="material-icons">shopping_cart</i></div>
                            <div class="col-6">Mis ordenes</div>
                            <div class="col-2">
                                <span>
                                    {{add model.firstObject.ordersActive.length model.firstObject.ordersDitribution.length}}
                                </span>
                            </div>
                            <div class="col-2"><i class="material-icons">
                                    keyboard_arrow_right
                                </i></div>
                        </div>
                    {{/link-to}}
                </li>
                <li>
                    {{#link-to 'clients'}}
                        <div class="row align-items-center">
                            <div class="col-2"><i class="material-icons">contacts</i></div>
                            <div class="col-8">Mis Clientes</div>
                            <div class="col-2"><i class="material-icons">
                                    keyboard_arrow_right
                                </i></div>
                        </div>
                    {{/link-to}}
                </li>
                <li>
                    {{#link-to 'contents'}}
                        <div class="row align-items-center">
                            <div class="col-2"><i class="material-icons">dashboard</i></div>
                            <div class="col-8">Mi Contenido</div>
                            <div class="col-2"><i class="material-icons">
                                    keyboard_arrow_right
                                </i></div>
                        </div>
                    {{/link-to}}
                </li>

            </ul>
        </div>

    </div>
</section>