{{#if model.done}}
	Ya hiciste esta tarea
{{else}}
<section class="dr-contenido3">

    <article class="dr-dashclientedeta">
            <div class="container">
                <p hidden id="myInput" value="{{encodeURIComponentHelper model.content.url}}"></p>
                <div class="dr-quiz">
                    <a href="{{model.content.url}}"><img class="img-fluid" src="{{model.content.thumbnailUrl}}" alt=""></a>
                </div>
                <div class="dr-share">
                    <p>
                        Este contenido deberias enviarlo a:
                    </p>
                        <div class="drbtn drbt1">
                            {{!-- {{#each model.users as |u|}}
                                {{u.first_name}} {{u.last_name}}
                            {{/each}} --}}
                            Cliente Lanzamiento
                        </div>
                    <p>
                        Esto le encantaria a tus clientes:
                    </p>

                    <button class="dr-comparbtn" onclick={{action 'share' model.content}}>Compartir</button>

                </div>
            </div>
    </article>

</section>
{{/if}}
