{{#if model.done}}
	Ya hiciste esta tarea
{{else}}
<section class="dr-contenido3">

    <article class="dr-dashclientedeta">
            <div class="container">
                <p hidden id="myInput" value="{{encodeURIComponentHelper model.content.url}}"></p>
                <div class="dr-quiz">
                    <img class="img-fluid" src="{{model.content.thumbnailUrl}}" alt="">
                </div>
                <div class="dr-share">
                    <p>
                        Este contenido deberias enviarlo a:
                    </p>
					{{#each model.clients as |s_client index|}}
						{{#link-to "client" s_client.client.id class="drbtn drbt1"}}
							{{s_client.client.user.first_name}} {{s_client.client.user.last_name}}
						{{/link-to}}
					{{/each}}
                    <p>
                        Esto le encantaria a tus clientes:
                    </p>

                    <button class="dr-comparbtn" onclick="share()">Compartir</button>

                </div>
            </div>
    </article>

</section>
{{/if}}

<script>
    function share() {
        if (!("share" in navigator)) {
            //alert('Web Share API not supported.');
            window.location = 'whatsapp://send?text='+document.getElementById("myInput").value;+"'"

            return;
        }

        navigator.share({
            title: 'Descubre tu belleza',
            text: 'Mira este contenido ',
            url: document.getElementById("myInput").value;
            })
            .then(() => console.log('Successful share'))
            .catch(error => console.log('Error sharing:', error));
    }
</script>
