{{#if model.done}}
	Ya hiciste esta tarea
{{else}}

<h1>{{model.content.name}}</h1>
<img src={{model.content.imageUrl}}>

<br>

* Input Text

<br>

<ul>
	{{#each model.suggested_clients as |s_client index|}}
  <li>
  		{{input type="checkbox" checked=(readonly s_client.priorized)}}
    	{{#link-to "client" s_client.client.id}}
        {{s_client.client.name}}
			{{/link-to}}
   </li>
	{{/each}}
</ul>

{{/if}}