{{#if isError}}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{isError}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{{/if}}

{{#if show_nav}}
<nav class="navbar navbar-light bg-white fixed-top">
  <a class="dr-menu" href="#" data-toggle="modal" data-target="#menu"><i class="material-icons">menu</i></a>
</nav>
   <!-- Modal -->
    <div class="modal fade dr-menumodalmenu" id="menu" tabindex="-1" role="dialog" aria-labelledby="menu1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>


                <div class="modal-body">
                    <div class="header">
                        <div class="row align-items-center">
                            <div class="col-12 p-0">
                                <div class="dr-fondopersona">
                                    <img class="" src="{{rootURL}}assets/images/profile_pic.png" alt="">
                                    <h4>{{session.data.authenticated.user.first_name}}</h4>
                                    <p>{{session.data.authenticated.user.last_name}}</p>
                                    <h6>Codigo {{session.data.authenticated.user.seller.code}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="igmenulist">
                        <ul>
                          <li class="nav-item active">
                              {{#link-to "seller" class="nav-link"}}Home<span class="sr-only">(current)</span>{{/link-to}}
                          </li>
                          <li class="nav-item">
                              {{#link-to "tasks" class="nav-link"}}Mis Tareas{{/link-to}}
                          </li>
                          <li class="nav-item">
                              {{#link-to "orders" class="nav-link"}}Mis ordenes{{/link-to}}
                          </li>
                          <li class="nav-item">
                              {{#link-to "clients" class="nav-link"}}Mis clientes{{/link-to}}
                          </li>
                          <li class="nav-item">
                              {{#link-to "contents" class="nav-link"}}Mi contenido{{/link-to}}
                          </li>
                          {{#if session.isAuthenticated}}
                          <li class="nav-item">
                              <a {{action 'invalidateSession'}} class="nav-link">Cerrar sesion</a>
                          </li>
                          {{/if}}
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
{{/if}}


{{outlet}}