<section class="dr-contenido3" style="padding-top: 8vh">
    <article class="dr-dashcliente">
        <div class="container">
            <h4>Mis Clientes</h4>
            <small style="color: gray;">Visualiza tus clientes.</small>
            <div class="dr-tabs">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="row">
                        <div class="col-6" style="font-size: smaller"><small>Nombre</small></div>
                        <div class="col-3" style="font-size: smaller"><small>Celular</small></div>
                        <div class="col-3" style="font-size: smaller"><small># Ordenes</small></div>
                    </div>
                    {{#each model as |client|}}
                    <div class="item">
                        <div class="row">
                            <div class="col-6">
                                <small>{{#link-to "client" client.id}}
                                      {{client.user.first_name}} {{client.user.last_name}}
                                    {{/link-to}}</small>
                            </div>
                            <div class="col-3">                                
                                <a href="whatsapp://send?phone=57{{client.user.cellphone}}">
                                <img src="https://cdn2.iconfinder.com/data/icons/social-icons-color/512/whatsapp-512.png" height="24" width="24"></a>
                                <a href="tel:{{client.user.cellphone}}">
                                <img src="https://cdn4.iconfinder.com/data/icons/social-icons-6/40/phone-128.png" height="24" width="24"></a>
                            </div>
                            <div class="col-3">
                                {{client.orders.length}}
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </article>
</section>