<section class="dr-contenido3">
    <nav class="navbar navbar-light bg-white fixed-top">

        <a class="dr-atras" onclick="goBack()" data-toggle="modal" data-target="#menu"><i class="material-icons">arrow_back</i></a>

        <a class="navbar-brand detalles"> Detalle Cliente</a>
    </nav>

    <article class="dr-dashcliente">
        <div class="container">
            <div class="header">
                <div class="row align-items-center">
                    <div class="col-6 p-0">
                        <div class="dr-fondopersona2">
                            {{#if model.user.picture}}
                                <img class="" src="{{model.user.picture}}" alt="">
                            {{else}}
                                <img class="" src="{{rootURL}}/assets/images/profile_pic.png" alt="">
                            {{/if}}
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="nombre">
                            <h4>{{model.user.first_name}}</h4>
                            <h5>{{model.user.last_name}}</h5>
                            <p>Tipo: {{model.profile.name}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dr-categoria">
                <h4>Categoria mas compradas</h4>
                <div class="row">
                    <div class="col-6">
                        <a class="btn-fragancias btn"> Fragancias</a>
                    </div>
                    <div class="col-6">
                        <a class="btn-maquilla btn"> Maquillaje</a>
                    </div>
                </div>
            </div>
            <div class="dr-tabs">
                <h4>Historial de ordenes</h4>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="row">
                    <div class="col-3" style="font-size: smaller">No Orden</div>
                    <div class="col-2" style="font-size: smaller">Fecha</div>
                    <div class="col-3" style="font-size: smaller">Valor</div>
                    <div class="col-4" style="font-size: smaller">Estado</div>
                    </div>
                    {{#each model.orders as |order|}}
                        <div class="item">
                            <div class="row">
                                <div class="col-3">
                                    {{!-- <p>{{#link-to "order" order.id}}
                                    {{order.order_number}}
                                    {{/link-to}}</p> --}}
                                    {{order.order_number}}
                                </div>
                                <div class="col-2">
                                    {{format-date order.date "DD[/]MM"}}
                                </div>
                                <div class="col-3">
                                    <span>${{sub order.total order.shipping}}</span>
                                </div>
                                <div class="col-4">
                                    {{#if (eq order.status 'completed')}}
                                    <span class="badge badge-pill badge-success">Completada</span>
                                    {{else if (eq order.status 'cancelled')}}
                                    <span class="badge badge-pill badge-danger">Cancelada</span>
                                    {{else if (eq order.status 'distribution')}}
                                    <span class="badge badge-pill badge-primary">Distribucion</span>
                                    {{else if (eq order.status 'ordered')}}
                                    <span class="badge badge-pill badge-info">Ordenado</span>
                                    {{/if}}
                                </div>
                            </div>
                        </div>  
                    {{/each}}               
                </div>
            </div>
        </div>
    </article>
</section>







{{!-- <h1>{{model.user.first_name}} {{model.user.last_name}}</h1>
<img src="{{model.user.picture}}" height="50" width="50">
<p><img src="https://cdn4.iconfinder.com/data/icons/social-icons-6/40/cellphone-128.png" height="16" width="16"><a href="tel:{{model.user.cellphone}}">{{model.user.cellphone}}</a></p>

<br>
<h2>Ordenes:</h2>
<ul>
{{#each model.orders as |order|}}
<li>
    {{#link-to "order" order.id}}
    {{order.name}} - {{to-locale-string order.status}}
    {{/link-to}}
</li>
{{/each}}
</ul> --}}