<section class="dr-contenido3">
    <nav class="navbar navbar-light bg-white fixed-top">

        <a class="dr-atras" onclick="goBack()" data-toggle="modal" data-target="#menu"><i class="material-icons">arrow_back</i></a>

        <a class="navbar-brand detalles">Detalle Contenido</a>
    </nav>

    <article class="dr-dashclientedeta">
            <div class="container">

                <div class="dr-quiz">
                    <img data-toggle="modal" data-target="#myModal" class="img-fluid" src="{{model.content.thumbnailUrl}}">
                </div>
                
                {{#if (or (eq model.content.media_type "imagen") (eq model.content.media_type "video"))}}
                <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="text-align:right; padding: 2% 2% 0 0;">
                        <span aria-hidden="true">&times;</span>
                        </button>
                       
                        <div class="modal-body">
                            {{#if (eq model.content.media_type "imagen")}}
                                <img src="{{model.content.url}}" class="img-fluid">
                            {{else if (eq model.content.media_type "video")}}
                                <iframe class="embed-responsive-item" src="{{model.content.url}}" allowfullscreen></iframe>
                            {{else}}
                                {{!-- {{open-new-tab model.content.url}} --}}
                            {{/if}}
                        </div>
                    </div>
                </div>
                </div>
                {{/if}}

                <div class="dr-share">
                    {{#if (eq model.content.profile.name 'General')}}

                        {{#if model.clients}}
                            <p>Este contenido deberias enviarlo a: </p>
                        {{/if}}
                        {{#each model.clients as |client|}}
                            {{#link-to "client" client.id class="drbtn drbt1"}}
                                {{client.user.first_name}}
                            {{/link-to}}
                        {{/each}}
                    
                    {{else}}

                        {{#with (filter-by "profile.id" model.content.profile.id model.clients) as |clients|}}
                            {{#if clients}}
                                <p>Este contenido deberias enviarlo a: </p>
                            {{/if}}
                            
                            {{#each clients as |client|}}
                                {{#link-to "client" client.id class="drbtn drbt1"}}
                                    {{client.user.first_name}}
                                {{/link-to}}
                            {{/each}}
                        {{/with}}

                    {{/if}}
                    <button class="dr-comparbtn" onclick={{action 'share' model.content}}>Compartir</button>

                </div>
            </div>
    </article>

</section>

<script>
    function centerModal() {
        $(this).css('display', 'block');
        var $dialog = $(this).find(".modal-dialog");
        var offset = ($(window).height() - $dialog.height()) / 2;
        // Center modal vertically in window
        $dialog.css("margin-top", offset);
    }

    $('.modal').on('show.bs.modal', centerModal);
    $(window).on("resize", function () {
        $('.modal:visible').each(centerModal);
    });
    $(".modal").on('hidden.bs.modal', function (e) {
        $(".modal iframe").attr("src", $(".modal iframe").attr("src"));
    });

</script>