<style>
    .carousel-indicators li {
        border-radius: 10px;
        width: 10px;
        height: 10px;
        background-color: #c2c2c2;
    }
    .carousel-indicators .active {
        background-color: #f8f9fa;
    }
    .landing {
        background-image: url({{rootURL}}assets/images/landing_background.jpg);
        background-repeat: no-repeat;
        background-position-x: left;
        background-size: cover;
        overflow: "hidden";
        height: 100%;
        display: flex;
    }
    .container {
        padding-right: 35px;
        padding-left: 35px;
        height: 75vh !important;
        vertical-align:middle;
        width:100%;
        align-items: center;
    }
    .button-container {
        padding-right: 35px;
        padding-left: 35px;
    }
    p.lead {
        padding-top: 10vh;
        text-align: center;
        font-size: 1.2rem;
        font-weight: bolder;
        padding-bottom: 20px;
    }
    .carousel.slide{
        height: 100%;
    }
</style>

<section class="landing">

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">

            <div class="carousel-item active">
                {{!-- Screen info --}}
                <div class="container">
                    <p class="lead" style="padding-bottom:10px;">Con Descubre ganas m치s en menos tiempo</p>
                    <img class="img-fluid" src="{{rootURL}}assets/images/screen1.png">
                </div>
                {{!-- Screen info --}}
            </div>
            
            <div class="carousel-item">
                {{!-- Screen info --}}
                <div class="container">
                    <p class="lead" style="padding-bottom: 25px;">Enfocate en lo que te gusta, nos encargamos de lo dem치s</p>
                    <img class="img-fluid" src="{{rootURL}}assets/images/screen2.png">
                </div>
                {{!-- Screen info --}}
            </div>

            <div class="carousel-item">
                {{!-- Screen info --}}
                <div class="container">
                    <p class="lead">Vende los productos que ya conoces - de forma diferente</p>
                    <img class="img-fluid" src="{{rootURL}}assets/images/landing_celebridad.png">
                </div>
                {{!-- Screen info --}}
            </div>

            <div class="carousel-item">
                {{!-- Screen info --}}
                <div class="container">
                    <p class="lead" style="padding-bottom: 0px;">Registrate ya y te llamaremos con m치s informaci칩n</p>
                    <img class="img-fluid" src="{{rootURL}}assets/images/screen3.png">
                    {{!-- <img class="img-fluid" src="{{rootURL}}assets/images/landing_woman.png"> --}}
                </div>
                {{!-- Screen info --}}
            </div>

        </div>
        
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

        <div class="button-container" style="padding-top: 15px;">

            {{#link-to 'signup' role="button" style="background-color:#220c71; border-color:#220c71;" class="btn btn-primary btn-block"}}
            Registrame ya!
            {{/link-to}}
            {{!-- <button type="button" class="btn btn-outline-primary btn-block">
                {{#link-to 'login'}}
                Ya tengo uno
                {{/link-to}}
            </button> --}}
        </div>
    </div>



</section>


<script>
    $('.carousel').carousel({
        interval: 5000,
        wrap: false
    });
    $('.carousel').each(function () {
        var $carousel = $(this);
        var hammertime = new Hammer(this, {
            recognizers: [
                [Hammer.Swipe, { direction: Hammer.DIRECTION_HORIZONTAL }]
            ]
        });
        hammertime.on('swipeleft', function () {
            $carousel.carousel('next');
        });
        hammertime.on('swiperight', function () {
            $carousel.carousel('prev');
        });
    });
</script>