<section class="dr-contenido3" style="padding-top: 40px">
    <article class="dr-dashcliente">
        <div class="container">
            <small>Visualice sus ordenes de compra para hacer seguimiento a sus pedidos Si tienes preguntas o dudas, llamanos (de 8am a 6pm) o escribenos por WhatsApp (3053506867)</small>
            <div class="dr-tabs">
                <h4>Historial de ordenes</h4>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="row">
                        <div class="col-2" style="font-size: smaller">Fecha</div>
                        <div class="col-3" style="font-size: smaller">Cliente</div>
                        <div class="col-3" style="font-size: smaller">Valor</div>
                        <div class="col-4" style="font-size: smaller">Estado</div>
                    </div>
                    {{#each model as |order|}}
                    <div class="item">
                        <div class="row">
                            <div class="col-2">
                                <p>{{#link-to "order" order.id}}
                                    {{to-day-month order.date}}
                                    {{/link-to}}</p>
                            </div>
                            <div class="col-3">
                                <small>
                                    {{#link-to "client" order.client.id}}
                                    {{order.client.user.first_name}} {{order.client.user.last_name}}
                                    {{/link-to}}
                                </small>
                            </div>
                            <div class="col-3">
                                <span>${{sub order.total order.shipping}}</span>
                            </div>
                            <div class="col-4">
                                {{#if (eq order.status 3)}}
                                <span class="badge badge-pill badge-success">Completada</span>
                                {{else if (eq order.status 2)}}
                                <span class="badge badge-pill badge-danger">Cancelada</span>
                                {{else if (eq order.status 'distribution')}}
                                <span class="badge badge-pill badge-primary">Distribucion</span>
                                {{else if (eq order.status 'ordered')}}
                                <span class="badge badge-pill badge-info">Ordenado</span>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </article>
</section>