<section class="dr-contenido3" style="padding-top: 8vh">
    <article class="dr-dashcliente">
        <div class="container">
            <h4>Historial de ordenes</h4>
            <small style="color: gray;">Visualice sus ordenes de compra para hacer seguimiento a sus pedidos
                Si tienes preguntas o dudas, llamanos (de 8am a 6pm) o
                escribenos por WhatsApp
                <a href="whatsapp://send?phone=+573053506867">
                    <img src="https://cdn2.iconfinder.com/data/icons/social-icons-color/512/whatsapp-512.png" height="16" width="16">
                </a>
            </small>
            <div class="dr-tabs">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="row">
                        <div class="col-2" style="font-size: smaller">Fecha</div>
                        <div class="col-3" style="font-size: smaller">Cliente</div>
                        <div class="col-3" style="font-size: smaller">Valor</div>
                        <div class="col-4" style="font-size: smaller">Estado</div>
                    </div>
                    {{#each model as |order|}}
                    <div class="item">
                        <div class="row">
                            <div class="col-2">
                                <p>
                                    {{!-- {{#link-to "order" order.id}} --}}
                                    <small>{{format-date order.date "DD[/]MM"}}</small>
                                    {{!-- {{/link-to}} --}}
                                </p>
                            </div>
                            <div class="col-3">
                                <small>
                                    {{#link-to "client" order.client.id}}
                                    {{order.client.user.first_name}} {{order.client.user.last_name}}
                                    {{/link-to}}
                                </small>
                            </div>
                            <div class="col-3">
                                <span>${{sub order.total order.shipping}}</span>
                            </div>
                            <div class="col-4">
                                {{#if (eq order.status 'completed')}}
                                <span class="badge badge-pill badge-success">Completada</span>
                                {{else if (eq order.status 'cancelled')}}
                                <span class="badge badge-pill badge-danger">Cancelada</span>
                                {{else if (eq order.status 'distribution')}}
                                <span class="badge badge-pill badge-primary">Distribucion</span>
                                {{else if (eq order.status 'ordered')}}
                                <span class="badge badge-pill badge-info">Ordenado</span>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </article>
</section>
