    {{#each model.non_read_notifications as |message|}}
        <div class="modal fade" style="display: block;" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Nueva noticia</h5>
            </div>
            <div class="modal-body">
                {{message.description}} 
                {{#if message.close_link}}
                    <a href={{message.close_link}}>aqui.</a>
                {{/if}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick={{action 'closeNotification' message}}>{{message.close_text}}</button>
            </div>
            </div>
        </div>
        </div>
        <script>
            $('#myModal').modal({
                backdrop: 'static',
                keyboard: false,
                show: true
                })
        </script>
    {{/each}}

    
<section class="dr-contenidologros">

   
   
    <div class="dr-headerlogros">
        <div class="dr-persona">
            <div class="row">               
                <div class="col-9 text-left">
                    {{#if model.user.picture}}
                        <img src="{{model.user.picture}}" alt="" class="float-left mr-3 ml-3">
                    {{else}}
                        <img src="{{rootURL}}/assets/images/profile_pic.png" alt="" class="float-left mr-3 ml-3">
                    {{/if}}
                    {{!-- <span class="dr-editar">Editar</span> --}}
                    <h4>{{model.user.first_name}} </h4>
                    <p>{{model.user.last_name}}</p>
                    <p>Código {{model.code}}</p>
                </div>
            </div>
            
            
        </div>
    </div>
    <div class="dr-ventas">
        <h2>${{round model.total}}</h2>
        <p>Ventas de este mes <small>(sin IVA)</small></p>
        <div class="dr-ganancias">
            <div class="row">
                <div class="col-6 text-center">
                    <h6>
                        ${{round (mult model.total model.commission)}}
                    </h6>
                    <span>Ganacias del mes</span>
                </div>
                <div class="col-6 text-center">
                    <h6>
                        ${{mult model.non_paid_referrals.length 20000}}
                    </h6>
                    <span>Ganancias por referidos</span>
                </div>
            </div>
        </div>
        <div class="dr-listitems">
            <hr>
            <h5 class="text-center">Comparte este Semanazo</h5>
            {{!-- {{#link-to "content" last_content.id}} --}}
            <a href="" {{action 'goContent' last_content.id}}>
                <img class="img-fluid" src="{{last_content.thumbnailUrl}}" alt="">
            </a>
            {{!-- {{/link-to}} --}}
            <hr>
            <ul>
                <li>
                    {{#link-to 'contents'}}
                        <div class="row align-items-center">
                            <div class="col-2"><i class="material-icons">dashboard</i></div>
                            <div class="col-8">Mi Contenido</div>
                            <div class="col-2"><i class="material-icons">
                                    keyboard_arrow_right
                                </i></div>
                        </div>
                    {{/link-to}}
                </li>
                <li>
                    {{#link-to 'orders'}}
                        <div class="row align-items-center">
                            <div class="col-2"><i class="material-icons">shopping_cart</i></div>
                            <div class="col-6">Mis Ordenes</div>
                            <div class="col-2">
                                <span>
                                    {{model.activeOrders.length}}
                                </span>
                            </div>
                            <div class="col-2"><i class="material-icons">
                                    keyboard_arrow_right
                                </i></div>
                        </div>
                    {{/link-to}}
                </li>
                <li>
                    {{#link-to 'clients'}}
                        <div class="row align-items-center">
                            <div class="col-2"><i class="material-icons">contacts</i></div>
                            <div class="col-8">Mis Clientes</div>
                            <div class="col-2"><i class="material-icons">
                                    keyboard_arrow_right
                                </i></div>
                        </div>
                    {{/link-to}}
                </li>
                <li>
                    {{#link-to 'tasks'}}
                        <div class="row align-items-center">
                            <div class="col-2"><i class="material-icons">assignment</i></div>
                            <div class="col-6">Mis Tareas</div>
                            <div class="col-2">
                                <span>
                                    {{model.tasksUncompleted.length}}
                                </span>
                            </div>
                            <div class="col-2"><i class="material-icons">
                                    keyboard_arrow_right
                                </i></div>
                        </div>
                    {{/link-to}}
                </li>
                <li>
                    {{#link-to 'referral'}}
                        <div class="row align-items-center">
                            <div class="col-2"><i class="material-icons">card_giftcard</i></div>
                            <div class="col-8">¡Refiere y Gana!</div>
                            <div class="col-2"><i class="material-icons">
                                    keyboard_arrow_right
                                </i></div>
                        </div>
                    {{/link-to}}
                </li>
                <li>
                    <a {{action 'invalidateSession'}} onclick="{{action 'invalidateSession'}}">
                        <div class="row align-items-center">
                            <div class="col-2"><i class="material-icons">exit_to_app</i></div>
                            <div class="col-10">Cerrar Sesión</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>

