<h1>{{model.user.name}}</h1>
<img src="{{model.user.avatarUrl}}" height="100" width="100">

<br>
<h2>Tareas:</h2>

<h3>{{model.tasksCompleted.length}}/{{model.tasks.length}}</h3>

<h2>Ganancias:</h2>
<h3>{{mult model.total model.commision}}</h3>

{{#link-to "tasks"}}Tus tareas pendientes{{/link-to}}
<br>
{{#link-to "referral"}}Referir{{/link-to}}
