<section class="dr-contenido3">
    <nav class="navbar navbar-light bg-white fixed-top">

        <a class="dr-atras" onclick="goBack()" data-toggle="modal" data-target="#menu"><i class="material-icons">arrow_back</i></a>

        <a class="navbar-brand detalles">Detalle Tarea</a>
    </nav>
    {{#if model.done}}
        Ya hiciste esta tarea
    {{else}}
    <article class="dr-dashclientedeta">
            <div class="container">
                <p hidden id="myInput" value="{{encodeURIComponentHelper model.content.url}}"></p>
                <div class="dr-quiz">
                    <img data-toggle="modal" data-target="#myModal" class="img-fluid" src="{{model.content.thumbnailUrl}}">
                </div>

                <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            {{#if (eq model.content.media_type "imagen")}}
                                <img src="{{model.content.url}}" class="img-fluid">
                            {{else if (eq model.content.media_type "video")}}
                                <iframe class="embed-responsive-item" src="{{model.content.url}}" allowfullscreen></iframe>
                            {{/if}}
                        </div>
                    </div>
                </div>
                </div>

                <div class="dr-share">
                    <div class="drbtn drbt1">
                        {{#with model.users as |users|}}
                            {{#if (gt users.length 0)}}
                                <p>Este contenido deberias enviarlo a: </p>

                                {{#each users as |u|}}
                                    {{u.first_name}} {{u.last_name}}
                                {{/each}}
                            {{/if}}
                        {{/with}}
                    </div>

                    <button class="dr-comparbtn" onclick={{action 'share' model.content}}>Compartir</button>

                </div>
            </div>
    </article>
    {{/if}}
</section>


<script>
    function centerModal() {
        $(this).css('display', 'block');
        var $dialog = $(this).find(".modal-dialog");
        var offset = ($(window).height() - $dialog.height()) / 2;
        // Center modal vertically in window
        $dialog.css("margin-top", offset);
    }

    $('.modal').on('show.bs.modal', centerModal);
    $(window).on("resize", function () {
        $('.modal:visible').each(centerModal);
    });
    $(".modal").on('hidden.bs.modal', function (e) {
    $(".modal iframe").attr("src", $(".modal iframe").attr("src"));
});
</script>