<section class="dr-contenido3">
  <nav class="navbar navbar-light bg-white fixed-top">
        {{#link-to 'seller' class="dr-atras"}}<i class="material-icons">arrow_back</i>{{/link-to}}
        <a class="navbar-brand detalles">Mis Tareas</a>
  </nav>
  <article class="dr-dashclientetareas">
    <div class="container">
        <small style="color: gray;">
          Visualice sus tareas.
        </small>
      <br><br>
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                aria-controls="collapseOne">
                Pendientes por hacer
              </button>
            </h5>              
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              {{!-- TODO: THE EMBER WAY PLEASE --}}
              {{#each model as |task|}}
                {{#if task.done}}
                {{else if (eq task.type_of_task "share-general")}}
                <div class="dr-che">
                    <div class="row">
                      <div class="col-10">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" checked={{task.done}} disabled={{task.done}} onchange={{action 'updateTask' task}} />
                          <label class="form-check-label" for="exampleRadios1">
                            <p style="font-size: 17px">{{task.task_description}}</p>
                          </label>
                        </div>
                      </div>
                      <div class="col-2">
                        {{#link-to "contents"}}
                        <i class="material-icons">keyboard_arrow_right</i>
                        {{/link-to}}
                      </div>
                    </div>
                  </div>
                {{else if task.num_of_clients}}
                  <div class="dr-che">
                    <div class="row">
                      <div class="col-10">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" checked={{task.done}} disabled={{task.done}} onchange={{action 'updateTask' task}} />
                          <label class="form-check-label" for="exampleRadios1">
                            <p style="font-size: 17px">{{task.task_description}}</p>
                          </label>
                        </div>
                      </div>
                      <div class="col-2">
                        {{#if task.content.id}}
                        {{!-- FIXME: Temporarily all tasks redirects to content--}}
                        {{#link-to "content" task.content.id}} {{!-- {{#link-to "task" task.id}} --}}
                        <i class="material-icons">keyboard_arrow_right</i>
                        {{/link-to}}
                        {{/if}}
                      </div>
                    </div>
                  </div>
                {{else}} 
                  <div class="dr-che">
                    <div class="row">
                      <div class="col-10">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" checked={{task.done}} disabled={{task.done}} onchange={{action 'updateTask' task}} />
                          <label class="form-check-label" for="exampleRadios1">
                            <p style="font-size: 17px">{{task.task_description}}</p>
                          </label>
                        </div>
                      </div>
                      <div class="col-2">
                        {{#if task.content.id}}
                        {{#link-to "content" task.content.id}}
                          <i class="material-icons">keyboard_arrow_right</i>
                        {{/link-to}}
                        {{/if}}
                      </div>
                    </div>
                  </div>
                {{/if}}
              {{/each}}

            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                aria-controls="collapseTwo">
                Tareas ya ejecutadas
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">

              {{#each model as |task|}}
                {{#if task.done}}
                  <div class="dr-che">
                    <div class="row">
                      <div class="col-10">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" checked={{task.done}} disabled={{task.done}} onchange={{action 'updateTask' task}} />
                          <label class="form-check-label" for="exampleRadios1">
                            <p style="font-size: 17px">{{task.task_description}}</p>
                          </label>
                        </div>
                      </div>
                      <div class="col-2">
                        <i class="material-icons">keyboard_arrow_right</i>
                      </div>
                    </div>
                  </div>
                  {{/if}}
              {{/each}}

            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>